{% extends 'base.html' %}

{% block title %}{{ book.name }} | BookStore{% endblock %}


{% block content %}
<section class="section-detail">		
	<div class="container-detail">
		<div class="gallery">
			<img class="img-fluid" src="{{ book.image.url }}">
		</div>
		<div class="book-detail">
			<p class="book-detail-name">{{ book.name }}</p>
			<p>Author: <span class="book-detail-author">{{ book.author }}</span> | Editorial: <span class="book-detail-author">{{ book.get_editorials }}</span></p>
			<p class="book-detail-price">$ 199.99</p>
			<div class="book-detail-info">
				<p>Información</p>
				<p class="book-info">{{ book.description }}</p>
			</div>
			<form>
				<input type="number" name="cantidad">
				<button class="btn is-link" type="submit">Añadir a carrito</button>
			</form>
		</div>
	</div>

</section>
{% endblock %}